.trabalheconosco1 {
    margin: auto;
    max-width: 2000px;
    padding-top: 2%;
}
.textosTC1 {
    display: flex;
    flex-direction: column;
    margin-left: 3.5%;
    gap: 17px;
    position: relative;
}
.textosTC1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 190px; 
    width: 180px; 
    height: 65px; 
    background: url("../../assets/images/retangulo.png") no-repeat;
    background-size: cover;
    z-index: 1; 
}
.textosTC1 h1 {
    font-size: clamp(2rem,2rem + 1.2vw,3rem);
}
.textosTC1 p {
    font-size: clamp(1rem,1rem + 1.2vw,1.5rem);
    margin-right: 2%;
}

@media screen and (max-width:768px) {
    .trabalheconosco1 {
        background-color: #000;
        padding-top: 15%;
        color: #fff;
    }
  }

  @media screen and (max-width:600px) {
    .textosTC1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 160px; 
        width: 140px; 
        height: 51px; 
        background: url("../../assets/images/retangulo.png") no-repeat;
        background-size: cover;
        z-index: 1; 
    }
  }


  @media screen and (max-width:390px) {
    .trabalheconosco1 {
        background-color: #000;
        padding-top: 20%;
        color: #fff;
    }
    .textosTC1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 160px; 
        width: 140px; 
        height: 51px; 
        background: url("../../assets/images/retangulo.png") no-repeat;
        background-size: cover;
        z-index: 1; 
    }
  }

  @media screen and (max-width:320px) {
    .trabalheconosco1 {
        background-color: #000;
        padding-top: 20%;
        color: #fff;
    }
    .textosTC1::before {
        display: none;
    }
  }

  @media screen and (max-width:230px) {
    .trabalheconosco1 {
        background-color: #000;
        padding-top: 35%;
        color: #fff;
    }
  }

  @media screen and (max-width:130px) {
    .trabalheconosco1 {
        background-color: #000;
        padding-top: 50%;
        color: #fff;
    }
  }