.homeCinco {
    background-color: #000;
    padding-bottom: 7%;
    padding-top: 2%;
}
.homeCincoo {
    max-width: 2000px;
    margin: auto;
}
.unirTextosImagemHomeCinco {
    display: flex;
    gap: 30%;
    align-items: center;
}
.textoHomeCinco {
    color: #fff;
    margin-left: 3.5%;
    width: 35%;
    position: relative;
}
.textoHomeCinco h1 {
    font-size: clamp(2rem,2rem + 1.2vw,3rem);
}
.textoHomeCinco::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px; 
    width: 180px; 
    height: 65px; 
    background: url("../../assets/images/retangulo.png") no-repeat;
    background-size: cover;
    z-index: 1; 
}
.textoHomeCinco p {
    font-size: clamp(1rem,1rem + 1.2vw,1.5rem);
    margin-top: 4%;
}
.imagemHomeCinco img {
    max-width: 60%;
    object-fit: cover;
}
.imagemHomeCinco {
    margin-top: 5%;
}
.contatoHomeCinco {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.contatoHomeCinco form {
    width: 50%;
}
.contatoHomeCinco input{
    width: 100%;
    height: 40px;
    border-radius: 2vh;
    border: none;
    margin-top: 2%;
    padding-left: 2%;
}
.contatoHomeCinco select{
    width: 100%;
    height: 40px;
    border-radius: 2vh;
    border: none;
    margin-top: 2%;
    cursor: pointer;
}
.telefoneSelecioneHomeCinco {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2%;
    width: 100%;
    margin-top: 1%;
}
.contatoHomeCinco button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3%;
    background-color: transparent;
    border: 1px solid #ED8600;
    color: #fff;
    border-radius: 2.5vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    transition: 0.3s ; 
}
.contatoHomeCinco button:hover {
    transform: translateX(-50%);
    background-color: #ED8600;
}


@media screen and (max-width: 768px) {
    .imagemHomeCinco img {
       display: none;
    }
    .textoHomeCinco {
        width: 100%;
    }
    .contatoHomeCinco form {
        width: 90%;
    }
    .unirTextosImagemHomeCinco {
        gap: 3%;
    }
}


@media screen and (max-width:860px) {
    .textoHomeCinco::before {
        content: '';
        position: absolute;
        top: 0;
        left: 25px; 
        width: 150px; 
        height: 55px; 
        background: url("../../assets/images/retangulo.png") no-repeat;
        background-size: cover;
        z-index: 1; 
    }
}


@media screen and (max-width:490px) {
    .textoHomeCinco::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 25px; 
        width: 110px; 
        height: 41.1px; 
        background: url("../../assets/images/retangulo.png") no-repeat;
        background-size: cover;
        z-index: 1; 
    }
}


@media screen and (max-width:170px) {
    .textoHomeCinco::before {
        display: none;
    }
}